@using TankTacticsReportViewer.Models


<div class="grid-cell container d-flex align-items-center justify-content-center" style="padding: 0">
    <img src="images/battery_large.png" alt="battery" />
</div>

@code {
}
