
<div class="grid-cell container d-flex align-items-center justify-content-center">
    <div class="row">
        <div class="col-12 text-center">
            @coord
        </div>
    </div>
</div>


@code {
    [Parameter]
    public string coord { get; set; }
}
